li {
  list-style: none;
  padding-left: 0px;
}

body {
  padding: 10px;
  padding: 300px 10px 0 10px;
  border: lightseagreen 4px solid;
  position: relative;
}
.fix-background {
  display: flex;
  position: fixed;
  top: 30px;
  background-color: white;
  width: 80%;
  height: 272px;
}
.fix-ui {
  position: fixed;
  top: 5px;
  display: flex;
  width: 100%;
  flex-direction: column;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 10px;
}

h2 {
  padding-right: 60px;
  font-size: 22px;
  font-weight: 600;
}
.close-btn {
  position: absolute;
  left: 10px;
  font-size: 12px;
}

.album {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.album-img {
  width: 100px;
  height: 100px;
  background-color: gold;
  border-radius: 15%;
  border: black 2px solid;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.album-txt {
  flex-direction: column;
  margin-right: 35px;
  line-height: 30px;
}
.album-txt-by {
  font-size: 14px;
  line-height: 0px;
}

.play-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  margin: 30px 35px 0px -10px;
  font-size: 22px;
}

.play-btn-main {
  width: 150px;
  height: 50px;
  border: black 2px solid;
  border-bottom: black 6px solid;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.fa-caret-right {
  margin-right: 5px;
  font-size: 26px;
}

.play-btn-sub {
  width: 50px;
  height: 50px;
  border: black 2px solid;
  border-bottom: black 6px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.li-album-img {
  width: 40px;
  height: 40px;
  /* background-color: gold; */
  border-radius: 15%;
  border: black 2px solid;
  margin-right: 5px;
}

li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
}

.album-name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 60px;
  margin-top: -26px;
}
h3 {
  margin: -20px 0px;
}

.tomato {
  background-color: tomato;
}

.palevioletred {
  background-color: palevioletred;
}

.blue {
  background-color: blue;
}

.ediumaquamarine {
  background-color: mediumaquamarine;
}
