body {
  background-color: black;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 80vh;
  height: 70vh;
  background-color: cadetblue;
}

.circle {
  display: flex;
  height: 100px;
  align-items: center;
  animation: circle-rotate 1s ease infinite;
}

@keyframes circle-rotate {
  0% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

.moving-circle {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: white;
  margin: 10px;
}

.square {
  display: flex;
  justify-content: space-around;
}

.moving-square {
  height: 50px;
  width: 10px;
  background-color: white;
  margin: 3px;
}

.moving-square:nth-child(1){
  animation: up-down 2s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite;
}

.moving-square:nth-child(2){
  animation: up-down 2s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite .2s;
}

.moving-square:nth-child(3){
  animation: up-down 2s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite .4s;
}

.moving-square:nth-child(4){
  animation: up-down 2s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite .6s;
}

.moving-square:nth-child(5){
  animation: up-down 2s cubic-bezier(0.250, 0.100, 0.250, 1.000) infinite .8s;
}

@keyframes up-down {
  0% {
    transform: scale(1, 1) ;
  }
  25% {
    transform: scale(1, 1.5);
  }
  50% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
