.main{
  display: flex;
  width: 100%;
  justify-content: center;
}

h1{
  display: flex;
  justify-content: center;
}

#source{
  width: 330px;
  height: 330px;
  padding: 5px;
}
#target{
  width: 330px;
  height: 330px;
  border: 1px black solid;
  padding: 5px;
  margin-left: 40px;
  word-wrap: break-word;
  overflow: auto;
}

\