.main{
  display: flex;
  width: 100%;
  justify-content: center;
}

#source, #secondeSource{
  width: 330px;
  height: 330px;
  padding: 5px;
}
#target, #decode, #secondeTarget, #secondeDecode, #composedDecode, #result, #secondeComposedTarget, #secondeResult{
  width: 330px;
  height: 330px;
  border: 1px black solid;
  padding: 5px;
  margin-left: 40px;
  word-wrap: break-word;
  overflow: auto;
}

span{
  font-size: 20px;
}
