header{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title{
  display: flex;
  justify-content: center;
}

.main{
  display: flex;
  width: 100%;
  justify-content: center;
}

#source{
  width: 330px;
  height: 330px;
  padding: 5px;
}
#target{
  width: 330px;
  height: 330px;
  border: 1px black solid;
  padding: 5px;
  margin-left: 40px;
  word-wrap: break-word;
  overflow: auto;
}

.btnSide{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;

}

.copy{
  width: 150px;
  height: 50px;;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin: 20px;
}

.hidden{
  /* display: none; */
}

.copyNotify{
  opacity: 0;
}

.fade {
	animation: fadeInOut 1s cubic-bezier(0.1, 0.7, 0.1, 1);
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }}