.bannerForm{
  width: 100vw;
  overflow: hidden;
  position: relative;
}
.banner{
  width: 300vw;
  transition: transform 0.5s;
}
.bannerImg{
  width: 100vw;
  float: left;
}

.leftBtn{
  position: absolute;
  left: 0;
  top: 10vw;
  width: 80px; 
  height: 80px;
  font-size: 40px;
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(0, 0, 0, 0.3);
  border: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  outline: 0;
  cursor: pointer;
}

.rightBtn{
  position: absolute;
  right: 0;
  top: 10vw;
  width: 80px; 
  height: 80px;
  font-size: 40px;
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(0, 0, 0, 0.3);
  border: 0;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  outline: 0;
  cursor: pointer;
}

.playBar{
  width: 300px;
  height: 5px;
  border-radius: 3px;
  background-color: var(--mainColor);
  position: absolute;
  top: 25vw;
  left: 43vw;
  z-index: 2;
  animation: slideBar 5s infinite;
}

@keyframes slideBar{
  from{
    width: 0px;
  }
  to{
    width: 300px;
  }
}

.stopBar{
  width: 300px;
  height: 5px;
  border-radius: 3px;
  background-color: white;
  position: absolute;
  top: 25vw;
  left: 43vw;
  z-index: 1;
}

.playBtn{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  background-color: var(--mainColor);
  border: none;
  outline: 0;
  cursor: pointer;
  position: absolute;
  top: 24.3vw;
  left: 40vw;
  z-index: 1;
}

.stopBtn{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  background-color: var(--mainColor);
  border: none;
  outline: 0;
  cursor: pointer;
  position: absolute;
  top: 24.3vw;
  left: 40vw;
  z-index: 2;
}