.header{
  position: fixed;
  z-index: 3;
}

.menu{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 140px;
  background-color: white;
}

.logo{
  width: 120px;
  margin-right: 100px
}

.depth{
  width: 800px;
  display: flex;
  justify-content: space-around;
}

.depthList{
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  margin-right: 50px;
}

.depthList:last-child{
  justify-content: center;
}

.util{
  width: 250px;
  display: flex;
  align-items: center;
}

.util > a {
  width: 90px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 20px;
}

.recrut{
  background-color: #ffbc0d;
}
.eng{
  background-color: #264a36;
}

.utilSearch{
  width: 50px;
  height: 50px;
  margin: 0px 30px;
  background-color: white;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.depth2Line{
  border-top: whitesmoke solid 2px;
  background-color: white;
  height: 350px;
  position: absolute;
}

.depth2 > div{
  display: flex;
  flex-direction: column;
}


.depth2List{
  width: 150px;
  margin-right: 50px;
}

.depth2List > a {
  height: 30px;
  margin-top: 15px;
  font-size: 17px;
  font-weight: bold;
  color: rgb(120, 120, 120);
}

.hidden{
  display: none;
}

.headerMargin{
height: 140px;
}
