header{
  position: fixed;
}

.menu{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 1280px;
  height: 140px;
}

.logo{
  width: 120px;
  margin-right: 100px
}

.depth{
  width: 700px;
  display: flex;
  justify-content: space-around;
}

.depthList{
  width: 150px;
}

.util{
  width: 250px;
  display: flex;
  align-items: center;
}

.util > a {
  width: 90px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 20px;
}

.recrut{
  background-color: #ffbc0d;
}
.eng{
  background-color: #264a36;
}

.utilSearch{
  width: 50px;
  height: 50px;
  margin: 0px 30px;
  background-color: white;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.depth2Line{
  border-top: whitesmoke solid 2px;
  background-color: lightgray;
  height: 350px;
}

.depth2 > div{
  display: flex;
  flex-direction: column;
}


.depth2List{
  width: 150px;
}


.depth2List > a {
  height: 30px;
  margin-top: 15px;
  font-size: 16px;
}
