.sideBar{
  /* display: flex; */
  /* flex-wrap: wrap; */
  border-right: gainsboro solid 2px;
  margin-right: 20px;
  width: 250px;
}

li{
  margin: 5px 0px;
}

.spreadTitle{
  font-size: 80%;
  color: dimgray;
}
