.alt-header {
  margin-top: 20px;
  margin-bottom: 15px;
  padding: 15px;
  display: flex;
}

.alt-header__title {
  font-size: 20px;
  font-weight: 600;
}

.alt-header__column {
  width: 33%;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.alt-header__column:nth-child(2) {
  display: flex;
  justify-content: center;
}

.alt-header__column:nth-child(3) {
  display: flex;
  justify-content: flex-end;
}

.alt-header__column span :last-child {
  margin-left: 20px;
}
