.user-component__time {
  font-size: 13px;
}

.chatting-time {
  position: absolute;
  right: 8px;
  top: 101px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}

.chatting-notify {
  color: white;
  position: absolute;
  right: 12px;
  top: 117px;
  height: 17px;
  width: 17px;
  font-size: 11px;
  text-align: center;
  line-height: 15px;
  background-color: tomato;
  border-radius: 50%;
}
