.recommended-friends {
  margin: 10px 10px;
  padding: 15px 10px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}

.recommended-friends__title {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

.recommended-friends span {
  margin: 80px 0;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.3);
  display: block;
  text-align: center;
}

.open-chat__header {
  padding: 0px 5px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.open-chat__header h4,
.open-chat__header span {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}

.open-post {
  display: flex;
  padding: 0px 10px;
  justify-content: space-between;
  align-items: center;
}

.open-post__title {
  font-weight: 600;
  margin-bottom: 10px;
}

.open-post__hashtags {
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}

.open-post__members {
  display: flex;
  align-items: center;
  margin-top: 5px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}
.open-post__members img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}

.open-post__members .divider {
  width: 1.2px;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0px 3px;
}
.open-post__member-status {
  color: #ffb0e0;
}

.open-post__photo img {
  width: 68px;
  height: 68px;
  border-radius: 20%;
}

.open-post__photo {
  position: relative;
}

.open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  text-align: center;
  border-radius: 12px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 12px;
}

.open-post__heart-count span {
  margin-left: 1px;
}

.find-icons {
  padding: 0px 15px;
}

@keyframes heartbeat {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: tomato;
    transform: scale(1.5);
  }
  100% {
    color: white;
    transform: none;
  }
}

.open-post__heart-count:hover i {
  will-change: transform;
  /* will-change: 어떤 애니메이션이 생길지 웹브라우저에 미리 알려주어 안정된 애니메이션을 연출 */
  animation: heartbeat 1s linear infinite;
}
