.friends-info {
  text-align: center;
  display: block;
  background-color: rgba(49, 49, 49, 0.05);
  padding: 13px 0px;
  font-size: 15px;
}
.fa-info-circle {
  color: rgba(128, 128, 128, 0.35);
}

.friends__txt {
  padding: 0px 5px;
}

.fa-chevron-right {
  font-size: 15px;
  color: rgba(128, 128, 128, 0.45);
}
