.friends-info {
  text-align: center;
  display: block;
  background-color: rgba(49, 49, 49, 0.05);
  padding: 10px 0px;
  font-size: 13px;
}
.fa-info-circle {
  color: rgba(128, 128, 128, 0.35);
}

.friends__txt {
  padding: 0px 5px;
}

.fa-chevron-right {
  font-size: 10px;
  color: rgba(128, 128, 128, 0.45);
}

.friends-screen__channel {
  margin: 10px;
  padding-top: 10px;
  border-top: rgba(128, 128, 128, 0.2) 1px solid;
  font-size: 12px;
  color: rgb(128, 128, 128, 0.9);
  display: flex;
  justify-content: space-between;
}
.fa-chevron-up {
  color: rgba(128, 128, 128, 0.4);
}

.user-component__number {
  font-size: 12px;
  color: rgba(128, 128, 128, 0.45);
  position: absolute;
  right: 10px;
}

.user-component {
  padding-bottom: 10px;
}
