.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 40px;
  box-sizing: border-box;
  border-top: 1.5px solid rgba(68, 32, 32, 0.15);
}
.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: #424242;
  position: relative;
}

.nav__notify2 {
  background-color: tomato;
  display: flex;
  justify-content: center;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  position: absolute;
  left: 22px;
  bottom: 17px;
}

.nav__notify3 {
  background-color: tomato;
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  margin-bottom: 13px;
}
