.user-component {
  display: flex;
}
.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}
.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 40%;
}
