.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  padding: var(--horizontal-space);
}

.screen-header__title {
  font-weight: 800;
  font-size: 25px;
}

.header__icons {
  box-sizing: border-box;
  font-size: 17px;
}
.fa-search,
.fa-music,
.fa-cog {
  margin: 0px 6px;
}
