/* .status-bar__column > .fa-battery-full,
.status-bar__column > .fa-bolt {
  padding-top: 3px;
} */
.status-bar {
  display: flex;
  justify-content: center;
  padding: 5px 3px;
}
.status-bar__column {
  width: 33%;
}
.status-bar__column:first-child span {
  margin-right: 5px;
}
.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}
.status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
}
.status-bar__column .fa-battery-full {
  margin: 0px 5px;
}
